@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  background-color: white;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #f4ce14;
  border-radius: 10px;
}

.phone_animate {
  animation: phone_animate 2.5s ease-in-out infinite;
}

@keyframes phone_animate {
  0% {
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-10px);
  }
}
